*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --bg-color: #37353E;
    --second-bg: #44444E;
    --main-color: #E62727;
    --text-color: #F3F2EC;
    --border-color: #DCDCDC;
    --font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    overflow-x: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6%;
    z-index: 100;
}
.navbar ul{
    list-style: none;
}
.navbar li{
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-family: var(--font-family);
}
.navbar li a{
    color: var(--text-color);
    margin: 0 20px;
    transition: ease-in-out .5s;
    position: relative;
}
.navbar  li a:hover{
    color: var(--main-color);
}
.navbar li a:hover, .navbar ul li a.show-active{
    color: var(--main-color);
    transition: ease-in .5s;
}
.navbar li a::before{
    position: absolute;
    left: 0;
    content: '';
    height: 3px;
    bottom: -10px;
    width: 0;
    background: var(--main-color);
    transition: all .5s;
}
.navbar li a:hover::before{
    width: 100%;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
}
.logo a{
    color: var(--text-color);
}
.logo span{
    color: var(--main-color);
    font-size: 3.3rem;
}
#menu-icon{
    font-size: 2.5rem;
    color: var(--text-color);
    display: none;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
section{
    min-height: 80vh;
    padding: 60px 0;
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-height: 100vh;
    padding: 80px;
}
@media (max-width: 780px) {
    .header{
        display: flex;

    }
    .navbar ul{
        display: none;
        width: 200px;
        flex-direction: column;
        justify-content: flex-end;
    }
    .navbar.active ul{
        display: flex;
       
    }
    #menu-icon{
        display: block;
        font-size: 2.5rem;
        color: var(--text-color);
    }
    .logo{
        font-size: 1.5rem;
    }
    .logo span{
        font-size: 2rem;
    }

    
}